@using TRBabyShop.Infrastructure.Data.Models

@model IEnumerable<Order>

    @{
    ViewBag.Title = "All Orders";
}

<h1 class="text-center pt-4">@ViewBag.Title</h1>

    <br /><br />

    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">City</th>
                <th scope="col">Postcode</th>
               <th scope="col">Total Price</th>
                <th scope="col">Status</th>
                <th scope="col">Info</th>
            </tr>
            
        </thead>
        @foreach (var order in Model)
        {
            <tbody>
                <tr>
                   
                    <td>@order.Id</td>
                    <td>@order.City</td>
                    <td>@order.PostCode</td>
                    <td>@order.OrderTotal</td>
                    <td>@order.OrderStatus</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@order.Id">
                        <button type="button" class="btn btn-info">Details</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
