@model IEnumerable<ReviewViewModel>;

@{
    ViewBag.Title = "All Reviews";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var rev in Model)
    {
        <a asp-controller="Review" asp-action="All" asp-route-productId="@rev.ProductId">
       

            <div class="card border-success mb-3" >
                <div class="card-header">@rev.User</div>
                <div class="card-body">
                    <h5 class="card-title">@rev.Product</h5>
                    <p class="card-text">@rev.Text</p>
                </div>
               @* <form class="input-gr-sm">*@
            
           @* </form>*@
                @* <form class="nav-link" asp-controller="Review" asp-action="Delete" asp-route-reviewId="@rev.Id">
                <input type="button" value="Delete" class="fs-6 btn btn-danger mb-2 p-1" />
            </form>*@
            <a asp-controller="Review" asp-action="Delete"  asp-route-reviewId="@rev.Id" class="badge bg-danger">
                 Delete
            </a>
            </div>
            
        </a>
        
    }

</div>

