@using TRBabyShop.Core.Models
@using static TRBabyShop.Infrastructure.Data.Common.Constants
@model IEnumerable<ReviewViewModel>;

<hr />
@{
    ViewBag.Title = "All Reviews";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="card  container pt-4">

    <div class="card  container pt-4">
        
        @foreach (var rev in Model)
        {
            <div class="card text-dark bg-warning mb-3" style="max-width: 20rem;">
                <div class="card-header">
                    <p class="mb-1">
                        @rev.User  , @rev.CreatedOn
                    </p>
                </div>
                <div class="card-body">
                    <p class="small mb-0 text-dark">
                        @rev.Text
                    </p>
                </div>

@if(User.IsInRole(Status.RoleAdmin))
                {
                <div class="d-flex justify-content-between text-center">
                    <a asp-area="Users" asp-controller="Review" asp-action="Delete" asp-route-reviewId="@rev.Id" class="btn btn-danger btn-sm text-center" method="post">
                        <input type="submit" value="Delete" class="fs-6 btn btn-danger mb-2 p-1" />
                    </a>

                </div>
                }
                   
            </div>
            <hr />
        }
    </div>
</div>


