@using TRBabyShop.Core.Models
@model IEnumerable<ProductQueryModel>;

@{
    ViewBag.Title = "My Favorites";
}

<hr />
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<a asp-area="Users" asp-controller="Product" asp-action="All">
    <button type="button" class="btn btn-secondary mb-4">Back to list</button>
</a>
@if (Model.Any())
{
    <div class="text-center row mt-4">
        @foreach (var prod in Model)
        {
            <div class="col-lg-3 col-lg-1">
                <div class="row p-2">
                    <div class=" p-1">
                        <div class="card border-primary  mb-4 " style="width: 20rem; border-radius: 5px;">
                            <a asp-area="Users" asp-controller="Product" asp-action="GetById" asp-route-productId="@prod.Id" method="get">
                                <img class="card-img-top" style="width: 18rem;"
                             src="@prod.Image">
                            </a>
                            <div class="card-body">

                                <h5 class="card-title mt-3">@prod.Name</h5>
                                <h5 class="mb-2">Price: @prod.Price</h5>
                                <a asp-area="Users" asp-controller="Review" asp-action="All" asp-route-productId="@prod.Id">
                                    <i class="bi bi-star-fill">
                                        <p class="mb-2">Reviews </p>
                                    </i>
                                </a>
                            </div>
                            <form class="input-group-sm" asp-area="Users" asp-controller="User" asp-action="RemoveFromCollection" asp-route-productId="@prod.Id">
                                <input type="submit" value="Remove from Fav" class="fs-6 btn btn-danger mb-3 p-2" />
                            </form>

                            <form class="input-group-sm" asp-area="Admin" asp-controller="Product" asp-action="Update"
                          asp-route-productId="@prod.Id">
                                <input type="submit" value="Update Product" class="fs-6 btn btn-success mb-3 p-2" />
                            </form>
                            <form class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-productId="@prod.Id">
                                <input type="button" value="Delete Product" class="fs-6 btn btn-danger mb-2 p-1" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}

else
{
    <h3 class="text-center">You have no favorites product yet!</h3>
}

