@using TRBabyShop.Core.Models
@using static TRBabyShop.Infrastructure.Data.Common.Constants

@model IEnumerable<CategoryViewModel>;


@{
    ViewBag.Title = "Categories";
}


<h2 class="text-center">@ViewBag.Title</h2>

<a asp-area="Users" asp-controller="Home" asp-action="Index">
    <button type="button" class="btn btn-secondary mb-4">Back to list</button>
</a>

<div class="text-center row">
    @foreach (var cat in Model)
    {
        <div class="col-lg-3 col-lg-1">
            <div class="row p-2">
                <div class=" p-1">
                    <div class="card" style="width: 18rem;">
                        <div class="ratio ratio-1x1">
                            <img class="card-img-top" src="@cat.Image" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@cat.Name</h5>
                            <a  class="btn btn-primary mb-4" asp-area="Users" asp-controller="Product" asp-action="ProductsByCategory" asp-route-categoryId="@cat.Id"> Products </a>
                            @if (User.IsInRole(Status.RoleAdmin))
                            {
                                <form class="input-group-sm" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-categoryId="@cat.Id">
                                    <input type="submit" value=" Delete " class="fs-6 btn btn-danger mb-2 p-1" />
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    }

</div>
