@model ProductViewModel;

@{
    ViewBag.Title = "Product";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="text-center row">
        @*  <img src="@prod.Image" alt="Product" width="400" height="400" />*@
        <div class="card border-primary  mb-4 " style="width: 20rem; ">
            <a asp-controller="Product" asp-action="GetById" method="get">
                <img class="card-img-top" style="width: 18rem;"
                 src="@Model.Image">
            </a>
            <div class="card-body">

                <h5 class="card-title mt-3">@Model.Name</h5>
                <h5 class="mb-2">Price: @Model.Price</h5>
                <p class="mb-2">Reviews: @Model.Reviews</p>
            </div>

            <form class="input-group-sm" asp-controller="Product" asp-action="All" asp-route-productId="@Model.Id">
                <input type="button" value="Add to Cart" class="fs-6 btn btn-info mb-3 p-2" />
            </form>
            <form class="input-group-sm" asp-controller="Product" asp-action="Add">
                <input type="submit" value="Add Product" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
            <form class="nav-link" asp-controller="Product" asp-action="Delete" asp-route-productId="@Model.Id">
                <input type="button" value="Delete Product" class="fs-6 btn btn-danger mb-2 p-1" />
            </form>


        </div>
</div>